@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: tomato;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    padding: 2rem;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 99, 71, .9);
    width: 100%;
    color: white;
    z-index: 99999;
}

.header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 140rem;
    margin: 0 auto;
    padding-top: 10rem;
}

.card {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid tomato;
}

/* .outpudDiv {

}

.card__img {

} */

.card__img img {
    width: 40rem;
    transition: all .5s;
}

.resp {
    font-size: 1.6rem;
    background-color: darkslateblue;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    min-height: 5.4rem;
}

input[type="text"] {
    margin: 2rem;
    padding: 1.6rem;
    border: solid 1px black;
}

input[type="text"]:focus {
    outline: none;
    border: solid 1px tomato;
    color: tomato;
}

.dark-image {
    filter: brightness(0);
}